/**게시판 글보기 board_view.CSS **/

main table {
    border-collapse:collapse; /*표의 테두리와 셀의 테두리 사이의 간격을 제거*/
    margin: 0 auto; /*테이블 전체를 가운데 정렬*/
    width:100%; /*테이블은 px 아닌 % 로 크기 조절*/
}

main #board_title {
    margin:20px 0 10px 0;
    padding:0 0 5px 0;
}

main table .subject_view {
    border-top:solid 2px #aaaaaa;
    border-bottom:solid 2px #dddddd;
    background-color:#eeeeee;
    height:30px;
    width:500px;
}

main table .col1 {
    background-color:#eeeeee;
}

main table .col1 textarea {
    width:500px;
    height:70px;
}

main table #subject_col2 {
    margin-left:250px;
    text-align:right;
}

main table .content_view {
    padding:10px;
}

main table #comment {
    background-color:#eeeeee;
    height:100px;
}

main table #comment_box {
    position:relative;
    width:772px;
    height:110px;
}

main table #comment_box #title_comment {
    position:absolute;
    top:10px;
    left:10px;
}

main table #comment_box textarea {
    position:absolute;
    top:10px;
    left:150px;
}

main table #comment_box #ok_ripple {
    position:absolute;
    top:10px;
    left:670px;
}

main #buttons {
    margin:10px 10px 0 0;
    text-align:right;
}